<% if @student %>
    <h1>Meeting Notes for <%= @student.first_name %> - <%= @student.last_name %></h1>
<% else %>
    <h1>All Meeting Notes</h1>
<% end %>

<ul>
  <% @notes.each do |n| %>
    <li>
      <%= n.user.username %> submitted "<%= link_to n.subject, note_path(n) %>" on <strong><%= n.created_at.strftime("%m/%d/%Y")%></strong> for <%= link_to n.student.first_name, student_path(n.student_id) %>
    </li>
  <% end %>
</ul>