<%= index_display_header %>

<ol>
  <% @students.each do |s| %>
    <li>
      <strong>Student Name:</strong> <%= s.last_name.titleize %>, <%= s.first_name.titleize %> (<%= link_to "Student Page", student_path(s) %>) || 
      <strong>Counselor:</strong> <%= s.user.username.titleize %> || 
      <strong>Total Meetings =></strong> <%= s.notes.count %> 
    </li>
  <% end %>
</ol>

