<h1><%= @student.last_name %>, <%= @student.first_name %> Information (<%= link_to "Edit Student", edit_student_path(@student) %>)</h1>
<p><strong>Student Grade:</strong> <%= @student.grade_level %> || <strong>Student DOB:</strong> <%= @student.birth_date.strftime("%m/%d/%Y") %> || <strong>Student Plan:</strong> <%= @student.career_goal %></p>
<p>Student Created By: <%= @student.user.username %></p>
<p><%= link_to "Add A New Meeting Note", new_student_note_path(@student)%></p>
<h4><%= link_to "View Meeting Notes", student_notes_path(@student) %></h4>
