<!DOCTYPE html>
<html>
  <head>
    <title>GuidanceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% if user_authenticated %>
        <%= link_to "Create New Student", new_student_path %> ||
        <%= link_to "All Students", students_path %> ||
        <%= link_to "My Students", user_students_path(current_user) %> ||
        <%= link_to "Create Meeting Note", new_note_path %> ||
        <%= link_to "All Meeting Notes", notes_path %> ||
        <%= link_to "Home", user_path(current_user) %> ||
        <%= link_to "Logout", logout_path, method: "delete" %> 
      <% end %>

    </div>

    <div>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
      <%= @error %>
      <%= flash[:notice] if flash[:notice] %>
  
    </div>

    <%= yield %>
  </body>
</html>
